@import "reset.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screens-header.css";
@import "components/alt-screens-header.css";
@import "components/user-component.css";
@import "components/grey-header.css";
@import "components/openchatroom.css";
@import "components/menu.css";
@import "components/notification.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chatroom.css";

/*Style that affects all the screens*/
body {
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px 20px;
}

.light-grey {
  color: #d5d5d5;
}

.dark-grey {
  color: #9b9b9b;
}

.black {
  color: black;
}
