#friends-display-link {
  background-color: #fafafa;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.fa-info-circle {
  color: #d5d5d5;
  margin-right: 5px;
}

#friends-display-link .fa-chevron-right {
  color: #d5d5d5;
  margin-left: 10px;
  font-size: 10px;
}

.friends-screen__channel {
  border-top: solid 1px #ececec;
}

.friends-screen__channel__header {
  display: flex;
  justify-content: space-between;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 600;
  padding-top: 12px;
}

.fa-chevron-up {
  color: #b4b4b4;
}

.user-component__column:last-child {
  font-size: 13px;
  font-weight: 600;
  color: #9b9b9b;
}
