.welcome-header {
  margin-top: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 600;
}

.welcome-header__text {
  width: 70%;
  opacity: 0.7;
  margin-bottom: 60px;
  font-size: 13px;
  font-weight: 400;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

#login-form [type="submit"] {
  border: none;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 15px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

#login-form [type="submit"]:hover {
  background-color: var(--yellow);
  cursor: pointer;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form a {
  text-align: center;
  font-size: 12px;
}

#splash-screen {
  color: #3c1e1e;
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  top: 0;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  /*'forwards' : It keeps the last property of the element when the animation is done.*/
  animation-delay: 2s;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    /*'visibility: hidden;' : We can click throught the element as if there it completely disappeared.*/
  }
}
