.alt--screens-header {
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
}

.chatroom-header {
  background-color: #abc1d1;
}

.alt-screens-header__column {
  width: 30%;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.alt-screens-header__column:nth-child(2) {
  justify-content: center;
}

.alt-screens-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-screens-header__column:last-child .fa-bars {
  margin-left: 10px;
}

.alt-screens-header__name {
  font-weight: 600;
}
